# Python cache files
*.pyc

# Virtual environment files
bin/*
lib/*
include/*

# Files built by packaging tools
build/*
dist/*
.Python

# Distutils files
dist/*
*.egg-info
MANIFEST

# TextMate projects
*.tmproj

# Where I keep my django project for testing.
sandbox/*

# Hidden files without git-relation
.*
!.gitignore
!.gitmodules

